body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
    text-align: center;
}

img {
    margin-bottom: 1px;
    width: 350px;
}

.main-table {
    border-spacing: 2px;
    font-size: 13px;
    text-align: center;
}

.main-table td {
    padding: 8px;
    vertical-align: middle;
}

input {
    font-size: 12px;
}
.footer {
    margin-top: 20px;
    font-size: 12px;
}